[submodule "quant/quant/OpenQuant"]
	path = quant/quant/OpenQuant
	url = https://github.com/OpenGradient/OpenQuant.git
	branch = localnet
[submodule "quant/OpenQuant"]
	path = quant/OpenQuant
	url = https://github.com/OpenGradient/OpenQuant.git
	branch = localnet
