[submodule "quant/quant/BitQuant"]
	path = quant/quant/BitQuant
	url = https://github.com/OpenGradient/BitQuant.git
	branch = localnet
[submodule "quant/BitQuant"]
	path = quant/BitQuant
	url = https://github.com/OpenGradient/BitQuant.git
	branch = localnet
